<%= form_with(model: gift, class: "contents") do |form| %>
  <% if gift.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(gift.errors.count, "error") %> prohibited this gift from being saved:</h2>
      <ul>
        <% gift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <style>
    .form-field {
      margin-top: 8px;
      margin-bottom: 4px;
    }
  </style>

  <%= form.label :name, class: "form-field" %>
  <%= form.text_field :name, class: "form-field block w-full rounded-md border-0 py-1.5 my-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", required: true %>

  <%= form.label :url, class: "form-field" %>
  <%= form.text_field :url, class: "form-field block w-full rounded-md border-0 py-1.5 my-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>

  <%= form.label :notes, class: "form-field" %>
  <%= form.text_area :notes, class: "form-field block w-full rounded-md border-0 py-1.5 my-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"  %>

  <br>

  <div class="inline">
    <%= form.submit "Update", class: "rounded-lg mt-2 py-3 px-5 bg-blue-600 text-white hover:bg-blue-900 inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
