<%= form_with(model: gift, class: "contents") do |form| %>
  <% if gift.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(gift.errors.count, "error") %> prohibited this gift from being saved:</h2>
      <ul>
        <% gift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :url %>
  <%= form.text_field :url %>
  <%= form.label :notes %>
  <%= form.text_area :notes %>
  
  <br>

  <div class="inline">
    <%= form.submit class: "rounded-lg mt-2 py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
