<div id="<%= dom_id gift %>" class="border rounded-lg p-4 my-4 ml-4">
  <div class="my-4 ml-4">
    <% if action_name != "show" %>
      <div class="flex" style="display: flex; justify-content: space-between; align-items: center; margin: 10px;">
        <div style="width: 75%;">
          <p style="font-size: 1.125rem; font-weight: 500; color: #1f2937; margin-left: 1rem;">Name:</p>
          <p style="font-weight: 500; color: #1f2937; margin-left: 1rem;"><%= gift.name %></p>
          <p style="font-size: 1.125rem; font-weight: 500; color: #1f2937; margin-left: 1rem;">Url:</p>
          <p style="font-weight: 500; color: #1f2937; margin-left: 1rem;"><%= gift.url %></p>
          <p style="font-size: 1.125rem; font-weight: 500; color: #1f2937; margin-left: 1rem;">Notes:</p>
          <p style="font-weight: 500; color: #1f2937; margin-left: 1rem;"><%= gift.notes %></p>
        </div>
        <div style="width: 25%; display: flex; justify-content: flex-end; align-items: center;">
          <%= link_to 'Edit', edit_gift_path(gift), style: "border-radius: 0.5rem; padding: 0.75rem 1.75rem; background-color: #f3f4f6; font-weight: 500; text-decoration: none; color: inherit;", onmouseover: "this.style.backgroundColor='#e5e7eb';", onmouseout: "this.style.backgroundColor='#f3f4f6';" %>
        </div>
      </div>
    <% else %>
      <p style="font-size: 1.125rem; font-weight: 500; color: #1f2937; margin-left: 1rem;">Name:</p>
      <p style="font-weight: 500; color: #1f2937; margin-left: 1rem;"><%= gift.name %></p>
      <p style="font-size: 1.125rem; font-weight: 500; color: #1f2937; margin-left: 1rem;">Url:</p>
      <p style="font-weight: 500; color: #1f2937; margin-left: 1rem;"><%= gift.url %></p>
      <p style="font-size: 1.125rem; font-weight: 500; color: #1f2937; margin-left: 1rem;">Notes:</p>
      <p style="font-weight: 500; color: #1f2937; margin-left: 1rem;"><%= gift.notes %></p>
    <% end %>
  </div>
</div>