<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @gift %>

    <%= link_to 'Edit this gift', edit_gift_path(@gift), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete this gift', gift_path(@gift), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 font-medium" %>
    </div>
    <%= link_to 'Back to gifts', gifts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
  </div>
</div>
