<!DOCTYPE html>
<html>
<head> 
  <title>Santa 2023</title>
  <link rel = "icon" href = "https://media.tenor.com/5tdbu8MuZowAAAAM/dancing-santa-claus-happy-christmas.gif"  type = "image/x-icon">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
</head>
<body>
  <header class="bg-indigo-900">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <div class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img src="https://media.tenor.com/5tdbu8MuZowAAAAM/dancing-santa-claus-happy-christmas.gif" class="h-12 w-auto">
        </div>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <% if signed_in? -%>
        <div class="hidden lg:flex lg:gap-x-12">
          <%= link_to "Your Wishes", gifts_path, class: "text-sm font-semibold leading-6 text-white hover:text-gray-400" %>
          <%= link_to "Account", edit_account_path, class: "text-sm font-semibold leading-6 text-white hover:text-gray-400" %>
          <%= link_to "Your Matches Wishes", matches_path, class: "text-sm font-semibold leading-6 text-white hover:text-gray-400" %>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <%= button_to t(".sign_out"), sign_out_path, class:"text-sm font-semibold leading-6 text-gray-200 hover:text-gray-400", method: :delete %>
        </div>
      <% end -%>
      <!-- Mobile menu, show/hide based on menu state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
          <% if signed_in? -%>
           <div class="-my-6 divide-y divide-gray-500/25 right-auto pr-20">
            <%= link_to "Your Wishes", gifts_path, class: "text-sm font-semibold leading-6 text-white hover:text-gray-400 pr-4" %>
            <%= link_to "Account", edit_account_path, class: "text-sm font-semibold leading-6 text-white hover:text-gray-400 pr-4" %>
            <%= link_to "Your Matches Wishes", matches_path, class: "text-sm font-semibold leading-6 text-white hover:text-gray-400 pr-4" %>
          </div>
        <% end -%>
      </div>
    </nav>
  </header>
  <main class = "px-40 pt-10" >
    <%= yield %>
  </main>
  </body>
</html>
